* {
  background-color: black;
  font-family: verdana;
}

.video h1{
  color: white;
  font-weight: normal;
  font-size: 50px;

}
h4{
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
}
.video video, .guide img, .phone img{
  display: block;
  margin: 0 auto;
}
.guide h1, .phone h1 {
  color: white;
  font-weight: 300px;
  font-size: 42px;
  text-align: center;
}
.guide p {
  color: gray;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
}
footer {
  color:gray;
  text-align: right;
}
